@font-face {
  font-family: 'Gudea-Regular';
  src: url('../font/Gudea-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gudea-Bold';
  src: url('../font/Gudea-Bold.ttf') format('truetype');
}
